body {
    max-width: 40em;
}

@media (max-width: 850px) {
    body {
        margin: 0.5em 2em 0.5em 2em;
        max-width: 20em;
    }
}

html, body {
    height: 70%;
}

html {
    display: table;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 1em;
    padding-bottom: 1em;
}

body {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    border: #bfbfbf;
    border-style: solid;
    border-width: thin;
}

h1 {
    margin: 0.5em;
}

input {
    max-width: 25em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

h2 {
    font-size: 24px;
}

header {
    font-size: 22px;
}

hr {
    margin-top: 1.4em;
}

.highlight {
    font-size: 26px;
}