body {
    max-width: 40em;
    background-color: white;
}

@media (max-width: 850px) {
    body {
        margin: 0.5em 2em 0.5em 2em;
        max-width: 20em;
    }
}

html, body {
    height: 70%;
}

html {
    display: table;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: whitesmoke;
}

body {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    border: #bfbfbf;
    border-style: solid;
    border-width: thin;
}

h1 {
    margin: 0.5em;
}

input {
    max-width: 25em;
}

table, th, td {
    border: 1px solid rgb(182, 182, 182);
    border-collapse: collapse;
    padding: 5px;
    font-weight: normal;
}

th {
    border-bottom: 2px solid rgb(182, 182, 182);
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

header {
    font-size: 26px;
}

hr {
    display: block;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.highlight {
    font-size: 26px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(82, 73, 255);
}

a:visited {
    color: rgb(82, 73, 255);
}

a:hover {
    color: rgb(106, 100, 228);
    text-decoration: underline;
}

a:active {
    color: rgb(82, 73, 255);
}